
__pycache__/
.mypy_cache/
.pytest_cache/
.env
.venv/
venv/
dist/
build/
*.egg-info/
.DS_Store
.idea/
.vscode/
*.log
coverage.xml
htmlcov/
site/

# Ignore all Streamlit secrets
.streamlit/
dashboard/.streamlit/secrets.toml

# But allow the example secrets file
!dashboard/.streamlit/secrets.example.toml
